<div id="<%= dom_id service %>">
  <div class="mt-md">
    <strong><%= t("title") %>:</strong>
    <%= service.title %>
  </div>

  <div class="mt-sm mb-sm">
    <strong><%= t("serv-type")%>:</strong>
    <%= service.service_type %>
  </div>

  <% if @service.present? && @service.difficulty.present? %>
  <div class="mt-sm mb-sm">
    <strong><%= t("difficulty")%>:</strong>
    <%= @service.difficulty.title %>
  </div>

  <div class="mt-sm mb-sm">
    <strong><%= t("creator")%>:</strong>
    <% if service.employee_profile_id.present? %>
      <%= EmployeeProfile.find_by(id: service.employee_profile_id).last_name %>
    <% else %>
      Admin
    <% end %>
  </div>

<% end %>

</div>
