<div id="<%= dom_id employee_profile %>">
  <div class="mt-md">
    <strong><%= t("first-name") %>:</strong>
    <%= employee_profile.first_name %>
  </div>

  <div class="mt-md">
    <strong><%= t("last-name") %>:</strong>
    <%= employee_profile.last_name %>
  </div>

  <div class="mt-md">
    <strong><%= t("phone") %>:</strong>
    <%= employee_profile.phone %>
  </div>

  <div class="mt-md">
    <strong><%= t("date-reg") %>:</strong>
    <%= employee_profile.date_registration %>
  </div>

  <div class="mt-md">
    <strong><%= t("spec") %>:</strong>
    <%= Specialization.find_by(id: employee_profile.specialization_id).title %>
  </div>

  <div class="mt-md">
  <strong>Email:</strong>
  <%= Employee.find_by(id: employee_profile.employee_id).email %>
</div>
</div>
