<div id="<%= dom_id client_like %>">

  <% service = Service.find_by(id: client_like.service_id) %>
  <p>
    <strong><%= t("title") %>:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong><%= t("serv-type") %>:</strong>
    <%= service.service_type %>
  </p>
</div>
