<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .exchange-rates {
      font-family: Arial, sans-serif;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      margin: 20px 0;
    }

    .exchange-rates h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .exchange-rates ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .exchange-rates li {
      margin-bottom: 5px;
    }

    .exchange-rates li span {
      font-weight: bold;
    }
  </style>

</head>
<body>
    <div class="container">
        <p class="title-md"style="color: green"><%= notice %></p>

      <div class="exchange-rates">
        <h2>Exchange Rates</h2>
        <ul>
          <% @exchange_rates.each do |rate| %>
            <li><span><%= rate['ccy'] %></span> to UAH: <span><%= sprintf('%.2f', rate['buy']) %></span> (Buy), <span><%= sprintf('%.2f', rate['sale']) %></span> (Sale)</li>
          <% end %>
        </ul>
      </div>

      <%= link_to "Back to main page", root_path, class: 'button button-yellow' %>

    </div>
</body>
</html>