<div id="<%= dom_id order %>">
  <p>
    <strong><%= t("status")%>:</strong>
    <%= Status.find_by(id: order.status_id).title %>
  </p>

  <p>
    <strong><%= t("client")%>:</strong>
    <%= ClientProfile.find_by(id: order.client_profile_id)&.first_name %>
    <%= ClientProfile.find_by(id: order.client_profile_id)&.last_name %>
  </p>

  <p>
    <strong><%= t("employee")%>:</strong>
    <%= EmployeeProfile.find_by(id: order.employee_profile_id)&.first_name %>
    <%= EmployeeProfile.find_by(id: order.employee_profile_id)&.last_name %>
  </p>


  <p>
    <strong><%= t("urgency")%>:</strong>
    <%= Urgency.find_by(id: order.urgency_id).title %>
  </p>

  <p>
    <strong><%= t("date-order")%>:</strong>
    <%= l(order.date_order.to_date, format: :default)  %>
  </p>

  <p>
    <strong><%= t("service")%>:</strong>
    <%= Service.find_by(id: order.service_id).title %>
  </p>

  <p>
    <strong><%= t("price")%>:</strong>
    <%= "#{order.price} $" %>
  </p>

</div>
